/**
 * @file
 * UI defined grid with a fix for known issues with rounding errors.
 *
 * This file is only loaded when not using gridstack.
 * Dimensions are defined at gridstack/static post release gridstack: 2.5.
 */

.outlayer.ungridstack > .box {
  float: left;
  width: 100%;
  min-width: 8.32222%;
  padding: 0;
}

/* Including mobile version with padding hack. */
.outlayer.ungridstack .is-gs-ratio .b-noratio {
  position: absolute;
  width: 100%;
}

/* Deep level image within rich boxes such as Slick carousel. */
.outlayer.ungridstack .is-gs-ratio .b-noratio .b-noratio,
.outlayer.ungridstack.is-gs-disabled .is-gs-ratio .b-noratio {
  position: relative;
}
