/**
 * @file
 */

.outlayer__sizer {
  position: absolute;
}

.outlayer__gutter {
  width: 5px;
  height: 5px;
}

.outlayer__row-height {
  height: 5px;
}

/** Must define height for fitColumns, else collapse. */
.outlayer--fitcolumns {
  min-height: 800px;
}

/**
 * Adjust this accordingly, be sure to not affect native Grid Layout.
 * Native Grid Layout wants any box to be relative, not absolute.
 */
.outlayer.is-gs-enabled.is-gs-layout > .box--stamp {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  left: auto;
}

.outlayer.is-gs-disabled .box {
  position: relative;
  top: auto;
  left: 0;
}

.outlayer {
  transition: opacity 0.6s, visibility 0.6s;
}

.outlayer.is-gs-packing {
  visibility: hidden;
  opacity: 0;
}

/*
 * @todo figure out why Masonry/ Packery does the opposite during resizing:
 * makes .box__content absolute which should be relative,
 * and makes .box relative which should be absolute.
 * Without resizing, they behave as expected.
 */
.outlayer.gridstack--gs.is-gs-enabled .is-gs-ratio {
  position: absolute;
}

.outlayer.gridstack--gs .is-gs-ratio .box__content {
  position: relative;
}

@media screen and (min-width: 768px) {
  /** Sane defaults to override grid. */
  .outlayer__column {
    width: 16.66667%;
  }

  .outlayer--fitcolumns {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .outlayer--fitcolumns {
    width: 1140px;
  }
}
