/**
 * @file
 */

.outlayer-list,
.outlayer-list * {
  box-sizing: border-box;
}

.outlayer-list,
.outlayer-list li {
  list-style: none;
  text-align: center;
}

.outlayer-list li {
  display: inline-block;
  vertical-align: top;
}

.outlayer-list .button--outlayer {
  text-transform: capitalize;
}

/** Overrides gridstack box transition. */
.outlayer.gridstack .box {
  transition: transform 0.3s, opacity 0.3s; /* left 0.3s, top 0.3s,  */
}

/* Empty hints. */
.outlayer__empty {
  display: none;
}

.outlayer--empty .outlayer__empty {
  display: block;
}

/** Overrides Bartik. */
.featured-top .outlayer {
  text-shadow: none;
}
